h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* Header styles */
.menu,
.page-comunikation {
  display: none;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}
.studio-color-header {
  color: #2e2f42;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
.modal-close-btn-icon {
  stroke: #111111;
}
@media screen and (min-width: 768px) {
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    color: #404bbf;
  }
  .menu-item,
  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .studio {
    position: relative;
    color: #404bbf;
  }
  .studio::after {
    content: "";
    border-radius: 2px;
    bottom: -1px;
    display: flex;
    position: absolute;
    width: 48px;
    height: 4px;
    left: 0;
    background: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu .page-comunikation .adress-menu {
    font-style: normal;
  }
  .menu-open-btn {
    display: none;
  }
  .page-comunikation {
    display: block;
  }
  .adress-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .adress-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .adress-link:hover,
  .adress-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .adress-menu {
    flex-direction: row;
    gap: 40px;
  }
  .adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
